body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.dashboard {
  background-color: black;
}

h1 {
  font-weight: bold;
  color: white;
  text-align: center;
}

#future-searches {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}